html, body, * {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Roboto', 'Arial';
	text-decoration: none;
	color: #264348; /* INDIGO COLOUR http://bootflat.github.io/color-picker.html */
	font-weight: 300;
}

html {
	background-color: #ABB7B7; /* EDWARD http://bootflat.github.io/color-picker.html */
}

.container {
	background-color: white;
}

.container.dark {
	background-color: #ABB7B7;
}

.hero {
	padding: 100px 20px;
	height: auto;
}

.hero h1 {
	font-size: 100px;
	font-family: 'Barrio', 'Arial';
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}

.hero h2 {
	font-family: 'Barrio', 'Arial';
	text-align: center;
	font-size: 30px;
}

.hero h2 a {
	font-family: 'Barrio', 'Arial';
	text-decoration: underline;
}

.hero h1 small {
	font-family: 'Barrio', 'Arial';
	font-size: 60px;
	display: block;
}

.about {
	width: 520px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
}

article img {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

article h2 {
	padding-top: 40px;
	padding-bottom: 20px;
}

article ul, article ol {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 30px;
	padding-left: 40px;
}

article p {
	padding-bottom: 10px;
}


strong { font-weight: bold; }


.about a {
	text-decoration: underline;
	line-height: 28px;
	text-decoration-color: #ABB7B7; /* EDWARD http://bootflat.github.io/color-picker.html */
}

.latest {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.latest h3 {
	padding-top: 20px;
	text-align: center;
}

.latest {
	padding-left: 20px;
	padding-right: 20px;
}

.latest .player {
	padding-left: 0px;
	padding-right: 0px;
}

.latest h3 {
	padding-bottom: 20px;
	text-align: left;
}

.footer {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 20px;
}

.navigation {
	padding: 20px 20px;
	height: auto;
	width: 800px;
	text-align: left;
	margin: 0 auto;
    overflow: hidden;

}

.navigation-wrapper {
	width: 100%;
	padding: 20px 20px;
	display: block;
    background-color: #FF69B4;

}

.navigation h1 {
	font-size: 50px;
	font-family: 'Barrio', 'Arial';
}

.navigation a {
	font-size: 30px;
	font-family: 'Barrio', 'Arial';
}

.navigation a:hover {
    color: #7FFFD4;
}

.hero h1 {
	padding: 20px 20px;
	height: auto;
	width: 800px;
	margin: 0 auto;
	display: block;
    overflow: hidden;
   	text-align: center;

}

.hero  {
	padding: 20px 40px;
}

.description {
	width: 800px;
	font-size: 18px;
	margin: 0 auto;
	padding: 60px 40px;
	padding-top: 0;
	line-height: 28px;
}

.description h3 {
	padding-top: 20px;
	text-align: center;
}

.blog {
	padding-top: 60px;
}


/* ALL THE STYLES FOR THE PLAYER */
.player {
	display: block;
	padding-top: 20px;
	width: 100%;
}

.player .player-inner {
	display: block;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 100%;
	height: 80px;
	overflow: none;
	top: -40px;
}

.player .waveform {
	display: inline-block;
	width: 100%;
	position: relative;
	top: -100px;

	
}

.player button {
	display: inline-block;
}


.player .play-pause {
	height: 50px;
	width: 50px;
	display: none;
	position: relative;
	border-radius: 50%;
	background-color: white;
	z-index: 1000;
	left: 5px;
	top: -5px;
}

.player .play-pause.playing {
	opacity: 0.8;
}

.player .time {
	text-align: right;
	display: none;
	position: relative;
	top: -100px;
}

/* SOCIAL ICONS https://github.com/thatjpcsguy/jpcs-social */
.jpcs-social-wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.jpcs-social {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-position: left;
	background-size: contain;
	background-color: #232323;
	color: white;
}

.jpcs-social:hover {
	background-color: white !important;
	color: #232323;
	cursor: pointer;
}

.jpcs-social.large {
	width: 80px;
	height: 80px;
}

.jpcs-social.dark {
	background-color: #232323 !important;
}
.jpcs-social.dark:hover {
	background-color: white !important;
}

.jpcs-social.facebook {background-image: url('/static/img/social/facebook-512.png'); background-color: #3B5998;} 
.jpcs-social.facebook:hover {background-image: url('/static/img/social/facebook-512-black.png');} 

.jpcs-social.twitter {background-image: url('/static/img/social/twitter-512.png'); background-color: #2C4762; background-color: #00ACED;} 
.jpcs-social.twitter:hover {background-image: url('/static/img/social/twitter-512-black.png');} 

.jpcs-social.googleplus {background-image: url('/static/img/social/googleplus-512.png'); background-color: #D14836;} 
.jpcs-social.googleplus:hover {background-image: url('/static/img/social/googleplus-512-black.png');} 

.jpcs-social.reddit {background-image: url('/static/img/social/reddit-512.png'); background-color: #CEE3F8; background-color: #FF4500;} 
.jpcs-social.reddit:hover {background-image: url('/static/img/social/reddit-512-black.png');} 

.jpcs-social.rss {background-image: url('/static/img/social/rss-512.png'); background-color: #FF8300;} 
.jpcs-social.rss:hover {background-image: url('/static/img/social/rss-512-black.png');} 

.jpcs-social.soundcloud {background-image: url('/static/img/social/soundcloud-512.png'); background-color: #FF6600;} 
.jpcs-social.soundcloud:hover {background-image: url('/static/img/social/soundcloud-512-black.png');} 

.jpcs-social.spotify {background-image: url('/static/img/social/spotify-512.png'); background-color: #80B719;} 
.jpcs-social.spotify:hover {background-image: url('/static/img/social/spotify-512-black.png');} 

.jpcs-social.youtube {background-image: url('/static/img/social/youtube-512.png'); background-color: #CD332D;} 
.jpcs-social.youtube:hover {background-image: url('/static/img/social/youtube-512-black.png');} 

.jpcs-social.linkedin {background-image: url('/static/img/social/linkedin-512.png'); background-color: #007FB1;} 
.jpcs-social.linkedin:hover {background-image: url('/static/img/social/linkedin-512-black.png');} 

.jpcs-social.apple {background-image: url('/static/img/social/apple-512.png'); background-color: #B9BFC1;} 
.jpcs-social.apple:hover {background-image: url('/static/img/social/apple-512-black.png');} 

.jpcs-social.email {background-image: url('/static/img/social/email-512.png'); background-color: #232323;} 
.jpcs-social.email:hover {background-image: url('/static/img/social/email-512-black.png');} 

.jpcs-social.github {background-image: url('/static/img/social/github-512.png'); background-color: #4183C4;} 
.jpcs-social.github:hover {background-image: url('/static/img/social/github-512-black.png');} 

.jpcs-social.hackernews {background-image: url('/static/img/social/hackernews-512.png'); background-color: #FF6600;} 
.jpcs-social.hackernews:hover {background-image: url('/static/img/social/hackernews-512-black.png');} 

.jpcs-social.instagram {background-image: url('/static/img/social/instagram-512.png'); background-color: #3F729B;} 
.jpcs-social.instagram:hover {background-image: url('/static/img/social/instagram-512-black.png');} 






/* SUBSCRIBE FOR MORE */
.subscribe {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.subscribe form {
	background-color: white;
	width: 600px;
	margin: 10px auto;
	border-radius: 10px;
	padding: 4px;
	text-align: left;
	font-size: 28px;
}

.subscribe form input {
	border-radius: 10px;
	height: 50px;
	width: 380px;
	font-size: 22px;
	padding-left: 8px;
}

.subscribe form button {
	border-radius: 6px;
	height: 50px;
	padding: 10px;
	width: 200px;
	float: right;
	font-size: 22px;
	background-color: #D80027;
	color: white;
}

@media (max-width: 620px) {
	/* SUBSCRIBE FOR MORE */
	
	.subscribe {
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
		display: block;
		text-align: center;
	}

	.subscribe h3 {
		padding-bottom: 10px;
	}

	.subscribe form {
		width: auto;
		height: auto;
		height: 108px;
		padding: 4px;
	}

	.subscribe form input {
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.subscribe form button {
		margin-top: 8px;
		display: block;
		width: 100%;
		float: none;
	}
}



@media (max-width: 750px) {
	.hero {
		height: auto;
		padding: 60px;
	}
	.hero h1 {
		font-size: 80px;
	}
	.hero h1 small {
		font-size: 50px;
	}
	.hero h2 {
		font-size: 28px;
	}
	.navigation {
		text-align: center;
	}
}

@media (max-width: 580px) {
	.hero {
		height: auto;
		padding: 40px;
	}
	.hero h1 {
		font-size: 60px;
	}
	.hero h1 small {
		font-size: 40px;
	}
	.hero h2 {
		font-size: 24px;
	}
	.about {
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 840px) {
	.navigation .hero {
		padding: 20px 0;
	}
	.latest, .navigation, .description {
		width: auto;
		margin: 0;
	}
	.description {
		padding-left: 20px;
		padding-right: 20px;
	}
}
