{% extends 'wrapper.html' %}
{% block content %}
{% include 'navigation.html' %}
{% from 'social.html' import social %}
<div class="container">
	<div class="blog description">
        <article>
        {{ social(articles[article].title, "Check out the latest article on The Prodcast!", 'https://theprodcast.io/articles/' + articles[article].url) }}
		{% block description %}{% endblock %}
        {{ social(articles[article].title, "Check out the latest article on The Prodcast!", 'https://theprodcast.io/articles/' + articles[article].url) }}
        </article>
		<h3><a href="/articles">See All Articles &rarr;</a></h3>
	</div>
</div>
{% endblock %}
