{% extends 'wrapper.html' %}
{% include 'navigation.html' %}

{% from 'player.html' import player %}
{% block content %}
	<div class="hero">
		<h1>
			<small>Welcome To</small>
			The Prodcast!
		</h1>
		<h2>by <a href="https://au.linkedin.com/in/jpcs1">James</a> &amp; <a href="https://au.linkedin.com/in/jamesthomasfrankel">James</a></h2>
	</div>
	<div class="container">
		<div class="about">
			<p>The Prodcast is a new podcast about all things product management, tech, startups, and whatever else takes our fancy. Listen to the <a href="/episodes/{{episode}}">latest episode</a> below.</p>
		</div>
		<div class="latest episode">
			{{ player(episodes[episode]) }}

			<h3><a href="/episodes">See More Episodes &rarr;</a></h3>
		</div>
		<div class="latest article">
			<a href="/articles/{{articles[article].url}}"><h3>{{articles[article].title}}</h3></a>
			<p>{{articles[article].description}} <a href="/articles/{{articles[article].url}}">Continue reading...</p>

			<h3><a href="/articles">See More Articles &rarr;</a></h3>
		</div>

	</div>
{% endblock %}
