<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Prodcast | {{title}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="The Prodcast | {{title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://www.theprodcast.com.au/static/img/og.png" />
	<meta property="og:url" content="" />

	<meta name="theme-color" content="#ABB7B7">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="apple-touch-icon-precomposed" sizes="1200x1200" href="/static/img/icon.png" />
	<link rel="icon" type="image/png" href="/static/img/icon.png" />
	<link rel="manifest" href="/static/manifest.json">

	<style>{% include "css/prodcast.css" %}</style>
</head>

<body>
	{% block content %}{% endblock %}
	{% include 'footer.html' %}
	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', function() {
				navigator.serviceWorker.register('/sw.js').then(function(registration) {
					// Registration was successful
					console.log('ServiceWorker registration successful with scope: ', registration.scope);
					}, function(err) {
					// registration failed :(
					console.log('ServiceWorker registration failed: ', err);
				});
			});
		}
	</script>

	<script src="/static/js/webfont.js" defer></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) { 
		  WebFont.load({
		    google: {
		      families: ['Barrio', 'Roboto']
		    }
		  });
		});
	</script>

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','/static/js/ga.js','ga');

	  ga('create', 'UA-100361822-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<!-- Wavesurfer -->
	<script src="/static/js/wavesurfer.min.js" defer></script>
	<!-- Moment JS -->
	<script src="/static/js/moment.min.js" defer></script>
</body>



{% macro make_player(episode) -%}
	<div class="player" id="sc{{episode.number}}">
		<div class="title"><a href="/episodes/{{episode.url}}">Episode {{episode.number}}: {{episode.title}}</a></div>
		<img class="play-pause fake" src="/static/img/pause-play-button.svg" onclick="load_real_player_{{episode.number}}();" />
		<img class="play-pause real" src="/static/img/pause-play-button.svg" onclick="window.wavesurfer{{episode.number}}.playPause()" />
		<div class="waveform"></div>
		<div class="time"><span class="time-current">00:00</span> / <span class="time-total">{{episode.length}}</span></div>
		<div class="loading">
			<div class="loading-inner"></div>
		</div>
		<!-- Custom Player JS #sc{{episode.number}} --> 
		<script type="text/javascript">
		function load_real_player_{{episode.number}}() {
			window.ws{{episode.number}} = true;
			var player = document.getElementById('sc{{episode.number}}');
			player.getElementsByClassName('play-pause')[0].style.display = 'none';
			player.getElementsByClassName('time')[0].style.display = 'none';
			window.wavesurfer{{episode.number}}.load('https://api.soundcloud.com/tracks/{{episode.soundcloud}}/stream?consumer_key=htuiRd1JP11Ww0X72T1C3g');
  		}

		document.addEventListener("DOMContentLoaded", function(event) { 
			window.ws{{episode.number}} = false;
  			window.wavesurfer{{episode.number}} = WaveSurfer.create({container: '#sc{{episode.number}} .waveform', waveColor: '#ABB7B7', progressColor: '#264348', cursorWidth: 0, barWidth: '4'});

			window.wavesurfer{{episode.number}}.load('/static/mp3/sound.mp3')

			window.wavesurfer{{episode.number}}.on('loading', function (percent) {
				var player = document.getElementById('sc{{episode.number}}');
				player.getElementsByClassName('time')[0].style.display = 'none';
				player.getElementsByClassName('loading')[0].style.display = 'inline-block';
				player.getElementsByClassName('loading-inner')[0].style.width = percent + '%';
			});
			
			window.wavesurfer{{episode.number}}.on('ready', function () {
				var player = document.getElementById('sc{{episode.number}}');
				player.getElementsByClassName('loading')[0].style.display = 'none';
				if (window.ws{{episode.number}}) {
					player.getElementsByClassName('real')[0].style.display = 'inline-block';
					player.getElementsByClassName('time-total')[0].innerHTML = moment().startOf('day').seconds(window.wavesurfer{{episode.number}}.getDuration()).format('mm:ss');
					window.wavesurfer{{episode.number}}.playPause();
				} else {
					player.getElementsByClassName('fake')[0].style.display = 'inline-block';
				}
				player.getElementsByClassName('time')[0].style.display = 'block';
			});

			window.wavesurfer{{episode.number}}.on('pause', function () {
				var player = document.getElementById('sc{{episode.number}}');
				player.getElementsByClassName('play-pause real')[0].className = "play-pause real";
			});

			window.wavesurfer{{episode.number}}.on('audioprocess', function () {
				var player = document.getElementById('sc{{episode.number}}');
				player.getElementsByClassName('time-current')[0].innerHTML = moment().startOf('day').seconds(window.wavesurfer{{episode.number}}.getCurrentTime()).format('mm:ss');
				player.getElementsByClassName('play-pause real')[0].className = "play-pause real playing";
			});
		});	
		</script>
	</div>
{%- endmacro %}
</html>
